/* BEGIN Custom Imported Fonts */

@font-face {
 font-family: MyCustomFontA;
 src: url(fonts/jura.ttf);
}
@font-face {
 font-family: MyCustomFontB;
 src: url(fonts/play.ttf);
}
@font-face {
 font-family: MyCustomFontC;
 src: url(fonts/openSans.ttf);
}
@font-face {
 font-family: MyCustomFontC-light;
 src: url(fonts/openSans-light.ttf);
}
@font-face {
 font-family: MyCustomFontD;
 src: url(fonts/din-light.ttf);
}

/* END Custom Imported Fonts */










/* BEGIN Basic Style */

html{
   max-width: 100%;
   overflow-x: hidden;
}

body{
   background-repeat: no-repeat;
   background-color:#ffffff;
   font-family: arial, helvetica, sans-serif;
   color:black;
   text-align: justify;
   font-size: 100%;
   line-height:140%;
   letter-spacing: 0;
   margin: 0;
   padding: 0;
   overflow: hidden;
   overflow-y: auto;
}
body.homepage-background-color{
 background-color:#e0e0e0;
}
body .body-h{
 opacity: 0;
 position: absolute;
}
p{
 text-align: left;
 font-weight: normal;
 margin-top:11px;
 line-height: 1.3em;
 font-family: myCustomFontD,sans-serif;
 font-size: 1em;
}
a {
 color: #1900f9;
}
@media screen and (min-width: 550px){
  a:hover{
   color: #8755fa;
  }
}
a.noFormatChange {
 color: #000000;
 text-decoration: none;
}
@media screen and (min-width: 550px){
  a.noFormatChange:hover{
   color: #000000;
  }
}

h1{
 font-size: 70px;
 font-weight: lighter;
 font-family:myCustomFontB;
 color: white;
}
@media screen and (max-width: 550px){
 h1{display: none;}
}
@media screen and (max-width: 1040px) and (min-width: 550px){
 h1{
   font-size: 50px;
   font-size: 6.75vmax;
 }
}
h1#text_shadow{
 text-shadow: #b0b0b0 1px 1px 0px, #8b8b8b 0px 2px 0px, #787878 0px 0px 0px, rgba(0, 0, 0, .7) 0px 4px 10px;
}

h2#bbl-subtitle{
 margin-top: -5px;
 font-size: 25px;
 line-height: 1.2em;
 font-family:myCustomFontB;
 color: white;
 padding-bottom: 65px;
}
@media screen and (max-width: 550px){
 h2#bbl-subtitle{display: none;}
}
@media screen and (max-width: 1040px) and (min-width: 550px){
 h2#bbl-subtitle{font-size: 2.4vmax;}
}

h3.paragraph-title{
 padding-top: 38px;
 text-align: center;
 font-size: 20px;
 font-weight: lighter;
 font-family: myCustomFontC,sans-serif;
}
@media screen and (max-width: 550px){
 h3.paragraph-title{
   font-size:24px;
 }
}
.h3_underline{
 background-color: black;
 margin: 0 auto;
 margin-top: -15px;
 height:3px;
 width: 125px;
}
@media screen and (max-width: 550px){
 .h3_underline{
   padding-right: 4%;
   padding-left: 4%;
 }
}
.h3_underline-animations{
 background-color: black;
 margin: 0 auto;
 margin-top: -20px;
 height:3px;
 width: 125px;
 padding-right: 3%;
 padding-left: 3%;
}
@media screen and (max-width: 550px){
 .h3_underline-animations{
   padding-right: 8%;
   padding-left: 8%;
 }
}
.h3-page-title_underline{
 background-color: black;
 margin: -21px auto 20px;
 height:3px;
 width: inherit;
}
h4{
 text-align: center;
 padding-top: 26px;
 margin-top: 0;
 font-size: 22px;
 font-weight: lighter;
 font-family: myCustomFontC,sans-serif;
}
h4#about-my_name{
 text-align: left;
 margin-top: -10px;
 font-size: 25px;
 line-height: 41px;
 font-weight: normal;
}
@media screen and (max-width: 550px){
 h4#about-my_name{
   font-size: 20px;
 }
}
p#paragraph-subheader-text-left{
 margin-top:-30px;
 margin-bottom: 35px;
 font-family: myCustomFontD,sans-serif;
 font-size: 17px;
 text-align: left;
}
h5{
 font-size: 25px;
 margin: 10px 0 10px 0;
 line-height: 41px;
 font-weight: normal;
 font-family: myCustomFontC,sans-serif;
 text-align: left;
}
@media screen and (max-width: 550px){
 h5{
   font-family: sans-serif;
 }
}
p.paragraph-text{
 text-align: left;
 margin-top:11px;
 padding-left: 2%;
 padding-right: 2%;
 line-height: 1.3em;
 font-family: myCustomFontD,sans-serif;
 font-size: 1em;
}
@media screen and (max-width: 550px){
 p.paragraph-text{
   padding-left: 5%;
   padding-right: 5%;
 }
}
@media screen and (max-width: 1040px) and (min-width: 550px){
 p.paragraph-text{
   padding-left: 2%;
   padding-right: 2%;
 }
}

p.paragraph-subheader-text{
 text-align: center;
 margin-top: 11px;
 font-family: myCustomFontD,sans-serif;
 margin-left: 50px;
 margin-right: 50px;
 font-size: 18px;
 line-height: 1.4em;
}
@media screen and (max-width: 1040px){
 p.paragraph-subheader-text{
   margin-top: -9px;
   padding-right: 2%;
   padding-left: 2%;
   margin-left: 0;
   margin-right: 0;
 }
}
p.paragraph-subheader-text-homepage{
 text-align: center;
 margin-top: 11px;
 font-family: myCustomFontD,sans-serif;
 margin-left: 50px;
 margin-right: 50px;
 font-size: 18px;
 line-height: 1.4em;
}
@media screen and (max-width: 1040px){
 p.paragraph-subheader-text-homepage{
   padding-right: 2%;
   padding-left: 2%;
   margin-left: 0;
   margin-right: 0;
 }
}
@media screen and (max-width: 550px){
 p.footer-copyright-text{
   margin-left: -100%;
 }
}

hr {
 margin: 0;
 background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}
/*@media screen and (max-width: 550px){
  hr {
   display: none;
  }
}*/

div.video_container{
 width:45%;
 display: inline-block;
 padding: 12px;
 margin-bottom: 2px;
 margin-right: -1px;
 margin-left: -1px;
 /*border: 1px solid #e2e2e2;*/
}
@media screen and (max-width: 800px){
 div.video_container{
   width:90%;
   display: inline-block;
   margin-bottom: 3vw;
   padding-bottom: 1px;
 }
}

/* END Basic Style */










/* BEGIN Site Structure */

#SITE_STRUCTURE{
 position:relative;
 width:980px;
 margin: 0 auto;
}
@media screen and (max-width: 1040px){
 #SITE_STRUCTURE{
   width:100%;
 }
}

#SITE_HEADER{
 width:inherit;
 position: fixed;
 top: 0;
 height: 70px;
 z-index: 5;
}
@media screen and (max-width: 550px){
 #SITE_HEADER{
   height: 50px;
 }
}
#SITE_HEADERscreenWidthBG{
 position: fixed;
 height: 70px;
 top: 0;
 right:0;
 left:0;
 z-index: 1;
 opacity: 0.77;
 background-color: rgba(0, 0, 0, 1);
 border-top: 0px solid rgba(0, 0, 0, 1);
 border-bottom: 0px solid rgba(0, 0, 0, 1);
}
@media screen and (max-width: 550px){
 #SITE_HEADERscreenWidthBG{
   height: 50px;
 }
}
#SITE_HEADERscreenWidthBG-moviesinthemaking{
 position: fixed;
 height: 70px;
 top: 0;
 right:0;
 left:0;
 z-index: 3;
 opacity: 0.77;
 background-color: rgba(0, 0, 0, 1);
 border-top: 0px solid rgba(0, 0, 0, 1);
 border-bottom: 0px solid rgba(0, 0, 0, 1);
}
@media screen and (max-width: 550px){
 #SITE_HEADERscreenWidthBG-moviesinthemaking{
   height: 50px;
 }
}
#SITE_HEADERscreenWidthBG-homepage{
 position: fixed;
 height: 70px;
 top: 0;
 right:0;
 left:0;
 z-index: 1;
 opacity: 0.45;
 background-color: rgba(0, 0, 0, 1);
 border-top: 0px solid rgba(0, 0, 0, 1);
 border-bottom: 0px solid rgba(0, 0, 0, 1);
}
@media screen and (max-width: 550px){
 #SITE_HEADERscreenWidthBG-homepage{
   height: 50px;
 }
}
#SITE_HEADER #navbar{
 height: 24px;
 top: 20px;
 margin: auto 0;
}
.navbar-dash{
 position: fixed;
 background-color: #FAC055;
 height: 4px;
 margin-bottom: -4px;
 z-index: 5;
}
@media screen and (max-width: 550px){
 .navbar-dash{
   display: none;
 }
}

#SITE_CONTENT{
 height: auto;
 width: inherit;
 padding-bottom: 70px;
 padding-top: 70px;
 text-align: center;
}
@media screen and (max-width: 550px){
 #SITE_CONTENT{
   padding-top: 50px;
 }
}
#SITE_CONTENT .logo{
 background-image: url(images/logo.png);
 background-size: 100%;
 /*border: 1.5px solid rgba(255,255,255,1);*/
 width: 100px;
 height: 100px;
 margin: 50px auto 76px;
 z-index: -1;
}
@media screen and (max-width: 550px){
 #SITE_CONTENT .logo{
   margin: 10% auto 10%;
 }
}
@media screen and (min-width: 550px) and (max-width: 1040px){
 #SITE_CONTENT .logo{
   margin: 5% auto 7%;
 }
}
#featured-image-container{
 width:100%;
 background: url(images/homepage-featured.jpg) no-repeat center center;
 -webkit-background-size: cover;
 -moz-background-size: cover;
 -o-background-size: cover;
 background-size: cover;
 position: absolute;
 z-index: -2;
 top: 0;
 right: 0;
 left: 0;
 height:700px;
}
#featured-image-container-fixed{
 width:100%;
 height:100%;
 background: url(images/homepage-featured.jpg) no-repeat center center;
 -webkit-background-size: cover;
 -moz-background-size: cover;
 -o-background-size: cover;
 background-size: cover;
 position: fixed;
 z-index: -2;
 top: 0;
 right: 0;
 left: 0;
}
@media screen and (max-width: 550px){
  #featured-image-container-fixed,
  #featured-image-container{
    height:90vmin;
  }
}
@media screen and (max-width: 550px){
 #featured-image-container{
   height:90vmin;
 }
}
#PARAGRAPH_CONTAINER{
 background-color: white;
}
@media screen and (max-width: 550px){
 #PARAGRAPH_CONTAINER{
   margin-left: 4%;
   margin-right: 4%;
 }
}
@media screen and (max-width: 1040px) and (min-width: 550px){
 #PARAGRAPH_CONTAINER{
   margin-left: 3%;
   margin-right: 3%;
 }
}
#PARAGRAPH_CONTAINER-2{
 background-color: white;
}
@media screen and (max-width: 550px){
 #PARAGRAPH_CONTAINER-2{
   margin-left: 4%;
   margin-right: 4%;
 }
}
@media screen and (max-width: 1040px) and (min-width: 550px){
 #PARAGRAPH_CONTAINER-2{
   margin-left: 3%;
   margin-right: 3%;
 }
}
#SITE_FOOTER{
 font-family: myCustomFontD;
 font-size: 1em;
 position: absolute;
 right:0;
 left:0;
 bottom: 8px;
 color:white;
 z-index: 1;
}
#SITE_FOOTER .c1{
 margin-left: 36px;
 margin-top:26px;
}
#SITE_FOOTERscreenWidthBG{
 position: absolute;
 height: 70px;
 margin-top: -70px;
 z-index: 0;
 bottom: inherit;
 right:0;
 left:0;
 background-color: rgba(0, 0, 0, 1);
}

/* END Site Structure */









/* BEGIN Homepage Styling */

/* BEGIN About Me & Portfolio Featured Box Styling */

#PARAGRAPH_CONTAINER .featured-boxes{
  width: 433px;
  height: 320px;
  display: inline-block;
  margin: 16px 21px 34px 20px;
  box-shadow: none;
  /* FOR SMOOTH TRANSITION EFFECT */
  -moz-transition: box-shadow 0.4s ease-in-out;
  -webkit-transition: box-shadow 0.4s ease-in-out;
  -o-transition: box-shadow 0.4s ease-in-out;
  transition: box-shadow 0.4s ease-in-out;
}
@media screen and (min-width: 550px){
  #PARAGRAPH_CONTAINER .featured-boxes:hover{
   top: -2px;
   left: -2px;
   box-shadow: 5px 5px 10px #909090;
  }
  #PARAGRAPH_CONTAINER .featured-boxes:hover a.button-hover-link .portfolio-button-hover,
  #PARAGRAPH_CONTAINER .featured-boxes:hover a.button-hover-link .about-me-button-hover{
   background-color: white;
   border-color: rgba(0, 0, 0, 1);
   color: #000000;
  }
}
#PARAGRAPH_CONTAINER .featured-boxes a.button-hover-link{}
#PARAGRAPH_CONTAINER .featured-boxes a.button-hover-link .about-me-button-hover{
 background-color: white;
 width: 136px;
 height: 41px;
 position: absolute;
 margin-top: -80px;
 margin-left: 32px;
 color: #FFFFFF;
 word-spacing: -2px;
 font-weight: bold;
 background-color: transparent;
 -moz-transition: color 0.4s ease 0s, border-color 0.4s ease 0s, background-color 0.4s ease 0s;
 -webkit-transition: color 0.4s ease 0s, border-color 0.4s ease 0s, background-color 0.4s ease 0s;
 -o-transition: color 0.4s ease 0s, border-color 0.4s ease 0s, background-color 0.4s ease 0s;
 transition: color 0.4s ease 0s, border-color 0.4s ease 0s, background-color 0.4s ease 0s;
 border: solid rgba(255, 255, 255, 1) 2px;
 cursor: pointer !important;
}
#PARAGRAPH_CONTAINER .featured-boxes a.button-hover-link-2 img{
 max-width: 100%;
}
#PARAGRAPH_CONTAINER .featured-boxes a.button-hover-link .portfolio-button-hover{
 background-color: white;
 width: 136px;
 height: 41px;
 position: absolute;
 margin-top: -80px;
 margin-left: 257px;
 color: #FFFFFF;
 font-weight: bold;
 background-color: transparent;
 -moz-transition: color 0.4s ease 0s, border-color 0.4s ease 0s, background-color 0.4s ease 0s;
 -webkit-transition: color 0.4s ease 0s, border-color 0.4s ease 0s, background-color 0.4s ease 0s;
 -o-transition: color 0.4s ease 0s, border-color 0.4s ease 0s, background-color 0.4s ease 0s;
 transition: color 0.4s ease 0s, border-color 0.4s ease 0s, background-color 0.4s ease 0s;
 border: solid rgba(255, 255, 255, 1) 2px;
 cursor: pointer !important;
}
#PARAGRAPH_CONTAINER .featured-boxes a.button-hover-link .portfolio-button-hover span.button-hover-text,
#PARAGRAPH_CONTAINER .featured-boxes a.button-hover-link .about-me-button-hover span.button-hover-text{
 font-size: 14px;
 line-height: 40px;
 font-family: myCustomFontA, sans-serif;
 display: inline-block;
 position: relative;
}
@media screen and (max-width: 1040px){
 #PARAGRAPH_CONTAINER .featured-boxes{
   margin: 16px 21px 24px 20px;
 }
 #PARAGRAPH_CONTAINER .featured-boxes a.button-hover-link .about-me-button-hover,
 #PARAGRAPH_CONTAINER .featured-boxes a.button-hover-link .portfolio-button-hover{
   margin-left: 147px;
 }
 #PARAGRAPH_CONTAINER .featured-boxes a.button-hover-link .about-me-button-hover span.button-hover-text,
 #PARAGRAPH_CONTAINER .featured-boxes a.button-hover-link .portfolio-button-hover span.button-hover-text{
   font-size: 15px;
 }
}
@media screen and (max-width: 1040px) and (min-width: 800px){
 #PARAGRAPH_CONTAINER .featured-boxes{
   width: 42vw;
   height: auto;
   margin: 16px 1vw 2% 1vw;
 }
 #PARAGRAPH_CONTAINER .featured-boxes a.button-hover-link .about-me-button-hover,
 #PARAGRAPH_CONTAINER .featured-boxes a.button-hover-link .portfolio-button-hover{
   width: 15.3%;
 }
 #PARAGRAPH_CONTAINER .featured-boxes a.button-hover-link .about-me-button-hover,
 #PARAGRAPH_CONTAINER .featured-boxes a.button-hover-link .portfolio-button-hover{
   margin-left: 13.2vw;
 }
}
@media screen and (max-width: 550px){
 #PARAGRAPH_CONTAINER .featured-boxes{
   width: 84vw;
   height:auto;
   margin: 0 1vw 4% 1vw;
 }
 #PARAGRAPH_CONTAINER .featured-boxes a.button-hover-link .about-me-button-hover,
 #PARAGRAPH_CONTAINER .featured-boxes a.button-hover-link .portfolio-button-hover{
   margin-left: 24vw;
   width: 35%;
 }
}

/* END About Me & Portfolio Featured Box Styling */

/* END Homepage Styling */







/* BEGIN Animator's Collective Page Styling*/

.right-align {
  float: right;
  margin-top: 2px;
}
@media screen and (max-width: 550px){
  .right-align {
    margin-top:-7px;
  }
}

.expanding3{
 position: relative;
 left: 0px;
 margin-left: 0;
 width:inherit;
 z-index: 2;
}
@media screen and (max-width: 1040px) and (min-width: 550px){
 .expanding3{
   margin-left: 3%;
   margin-bottom: -27px;
   width:94%;
 }
}
@media screen and (max-width: 550px){
 .expanding3{
   margin-left:0;
   margin-bottom: -23px;
   width:100%;
 }
}

/* END Animator's Collective Page Styling*/










/* BEGIN About Me Page Style */

#about-featured-image{
 background-image: url(images/about-me-featured.jpg);
 background-size: cover;
 background-position: top;
 position: relative;
 float: left;
 width:490px;
 height: 390px;
 margin-right: 30px;
}
@media screen and (max-width: 865px){
  #about-featured-image{
    width: 100%;
    height: 65vw;
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 993px) and (min-width: 943px){
  h4#about-my_name{
    margin-top: 40px;
  }
}
@media screen and (max-width: 943px) and (min-width: 905px){
  h4#about-my_name{
    margin-top: 15px;
  }
}
.contact-button-hover{
 background-color: white;
 width: 147px;
 height: 42px;
 position: absolute;
 margin-top: -50px;
 margin-left: 520px;
 color: #000000;
 word-spacing: -2px;
 font-weight: bold;
 background-color: transparent;
 -moz-transition: color 0.4s ease 0s, border-color 0.4s ease 0s, background-color 0.4s ease 0s;
 -webkit-transition: color 0.4s ease 0s, border-color 0.4s ease 0s, background-color 0.4s ease 0s;
 -o-transition: color 0.4s ease 0s, border-color 0.4s ease 0s, background-color 0.4s ease 0s;
 transition: color 0.4s ease 0s, border-color 0.4s ease 0s, background-color 0.4s ease 0s;
 border: solid rgba(0,0,0, 1) 2px;
 cursor: pointer !important;
}
@media screen and (max-width: 900px){
 .contact-button-hover{
   margin-left: 0;
 }
}
@media screen and (min-width: 550px){
  .contact-button-hover:hover{
   background-color: black;
   border-color: rgba(255,255,255, 1);
   color: #FFFFFF;
  }
}
.contact-button-hover span.button-hover-text{
 font-size: 15px;
 line-height: 41px;
 font-family: myCustomFontA, sans-serif;
 display: inline-block;
 position: relative;
}

p.about-me-text{
 text-align: left;
 margin-top:11px;
 line-height: 1.3em;
 font-family: myCustomFontD,sans-serif;
 font-size: 1em;
}
@media screen and (max-width: 550px){
 p.about-me-text{}
}
@media screen and (max-width: 750px) and (min-width: 550px){
 p.about-me-text{
   margin-right: 0;
 }
}

/* END About Me Page Style */










/* BEGIN Contact Page Styling */

#contact-featured-image{
 background-image: url(images/contact-featured.jpg);
 background-size: cover;
 background-position: top;
 position: relative;
 width:inherit;
 height: 350px;
 margin: 26px 2% 0 2%;
}
@media screen and (max-width: 550px){
 #contact-featured-image{
   margin: 26px 0 43px 0;
   height: 225px;
 }
}

p.paragraph-text-contact{
 text-align: left;
 margin-top:35px;
 line-height: 1.3em;
 font-family: myCustomFontD,sans-serif;
 font-size: 17px;
 margin: 0 2%;
}

p.contact-info-text{
 display: inline-block;
 margin-top:35px;
 line-height: 1.3em;
 font-family: myCustomFontC, sans-serif;
 font-size: 14px;
 margin-bottom: 45px;
}
@media screen and (max-width: 550px){
 p.contact-info-text{
   padding-right: 2%;
   display: block;
   text-align: center;
   margin-top: -10px;
 }
}
@media screen and (max-width: 1040px) and (min-width: 550px){
 p.contact-info-text{
   padding-right: 15%;
   margin-right: -75px;
 }
}
p.contact-info-text-theme-color{
 display: inline-block;
 margin-top:11px;
 line-height: 1.3em;
 font-family: myCustomFontC, sans-serif;
 font-size: 14px;
 color: #FAC055;
}
@media screen and (max-width: 550px){
 p.contact-info-text-theme-color{
   text-align: center;
   line-height: 1.2em;
   padding-left: 2%;
   display: block;
   margin-top: -25px;
 }
}
@media screen and (max-width: 1040px) and (min-width: 550px){
 p.contact-info-text-theme-color{
   line-height: 1.2em;
   padding-left: 15%;
   margin-left: -75px;
 }
}

/* END Contact Page Styling */








/* BEGIN Navbar & Footer & Misc */

ul#nav{
 list-style: none;
 position: absolute;
 top: 9px;
 color: white;
 left: -30px;
 right: 0;
 z-index: 4;
}
@media screen and (max-width: 1040px){
 ul#nav{
   text-align: center;
 }
}
@media screen and (max-width: 550px){
 ul#nav{
   top: -2px;
   left: -80px;
   right: -40px;
 }
}
ul#nav li{
 display: inline-block;
 margin-right: 40px;
 margin-left: 40px;
}
@media screen and (max-width: 550px){
 ul#nav li{
   padding-left: 16vw;
   padding-right: 16vw;
   margin-left: -46px;
   margin-right: -46px;
 }
}
@media screen and (max-width: 1040px) and (min-width: 550px){
 ul#nav li{
   padding-left: 12vw;
   padding-right: 12vw;
   margin-left: -39px;
   margin-right: -39px;
 }
}
ul#nav li a{
 color: white;
 text-align: center;
 text-decoration: none;
 padding: 24px 44px 24px 44px;
 font-size: 15px;
 cursor: pointer !important;
}
@media screen and (max-width: 1040px){
 ul#nav li a{
   padding: 10px 0;
 }
}
ul#nav li a:link {
   position: relative;
   z-index: 2;
   font-size: 17px;
   line-height: 1.4em;
   font-family: myCustomFontA;
   /* FOR SMOOTH TRANSITION EFFECT */
   -moz-transition: color 0.4s ease-in-out;
   -webkit-transition: color 0.4s ease-in-out;
   -o-transition: color 0.4s ease-in-out;
   transition: color 0.4s ease-in-out;
}
@media screen and (max-width: 1040px){
 ul#nav li a:link {
   font-size: 18px;
 }
}
ul#nav li a:active {
 color: #FAC055;
}
@media screen and (min-width: 550px){
  ul#nav li a:hover {
   color: #FAC055;
  }
}
span.delete{
 display: none;
}
@media screen and (max-width:550px){
 span.mobile_delete{
   display: none;
 }
}
@media screen and (min-width:550px){
 span.mobile-add{
   display: none;
 }
}
@media screen and (min-width:372px){
 span.small-mobile-add{
   display: none;
 }
}
@media screen and (min-width:550px){
 span.mobile-add-small-delete{
   display: none;
 }
}
@media screen and (max-width:372px){
 span.mobile-add-small-delete{
   display: none;
 }
}
@media screen and (max-width:1040px){
 span.tablet-delete{
   display: none;
 }
}
@media screen and (min-width:993px){
 span.mid-desktop-delete{
   display: none;
 }
}
ul#nav li.current_list_item a{
 position: relative;
 color: #FAC055;
}

ul.footer-social-icons{
 margin-top: -43px;
 list-style: none;
 position: absolute;
 right: 36px;
}
ul.footer-social-icons li{
 display: inline-block;
 height: 25px;
 width: 25px;
 padding-left: 6px;
}
ul.footer-social-icons li img.social-icons{
 height: 100%;
 width: 100%;
}

/* END Navbar & Footer & Misc */










/* BEGIN Animations Page Styling */

div.coming-soon-info{
 text-align: left;
 height: auto;
 padding: 17px 4%;
 line-height: 1.7em;
 font-family: myCustomFontD,sans-serif;
}
@media screen and (min-width: 550px){
  div.coming-soon-info:hover{
   background-color: #EDEDED;
  }
}
div.coming-soon-info img{
 position: relative;
 height: 10%;
 width: 250px;
 overflow: hidden;
 float: left;
 margin-right: 15px;
}
@media screen and (max-width: 550px){
 div.coming-soon-info{
   padding: 10px 5% 0 5%;
   margin-bottom: -3px;
   line-height: 1.7em;
   font-family: sans-serif;
 }
}
@media screen and (max-width: 550px){
 div.coming-soon-info img{
   position: relative;
   float: left;
   margin-right: 15px;
   margin-bottom: 10px;
   width:100%;
 }
}
div.coming-soon-info p.coming-soon-title{
 font-weight: bold;
 font-size: 20px;
 margin-left: 2%;
 margin-top: 12px;
}
div.coming-soon-info p.coming-soon-tagline{
 color: #545251;
 margin-top: -15px;
 font-weight: bold;
 font-size: 15px;
 padding-left: 20px;
}
div.coming-soon-info p.coming-soon-details{
 margin-top: 30px;
 margin-bottom: 12px;
 text-align: left;
 font-weight: bold;
 font-size: 15px;
}
@media screen and (max-width: 550px){
 div.coming-soon-info p.coming-soon-title{
   font-size: 20px;
   margin-top: 0;
   margin-left:0;
   font-weight: normal;
 }
 div.coming-soon-info p.coming-soon-tagline{
   font-size: 1em;
   margin-top: -12px;
   padding-left: 0;
   font-weight: normal;
 }
 div.coming-soon-info p.coming-soon-details{
   font-size: 1em;
   font-weight: normal;
 }
}
h3.paragraph-title-animations{
 padding-top: 25px;
 text-align: center;
 font-size: 25px;
 font-weight: lighter;
 font-family: myCustomFontC,sans-serif;
}
@media screen and (max-width: 550px){
 h3.paragraph-title-animations{
   font-size: 22px;
   line-height: 25px;
 }
}

p.animations-basic-text{
 text-align: left;
 margin: 10px 34px -3px 34px;
 line-height: 1.3em;
 font-family: myCustomFontD,sans-serif;
 font-size: 1em;
}
@media screen and (max-width: 1040px) and (min-width: 800px){
 p.animations-basic-text{
   margin-right: 3vw;
   margin-left: 3vw;
 }
}
@media screen and (max-width: 800px) and (min-width: 550px){
 p.animations-basic-text{
   margin-right: 4.7vw;
   margin-left: 4.7vw;
 }
}
@media screen and (max-width: 550px){
  p.animations-basic-text{
    margin-bottom: 0;
    margin-right: 5%;
    margin-left: 5%;
  }
}

h3{
 text-align: left;
}

p.video_title{
  font-size: 1.1em;
  margin: 0;
  padding: 10px 0 3px 0;
  font-weight: bold;
  text-decoration: underline;
}
a.video_title{
  color: #000;
  text-decoration: none;
}
a.video_title:hover{
  /*color: #8755fa;*/
  color: #909090;
}
p.video_description{
  font-size: .95em;
  margin: 0;
  font-weight: normal;
}

/* YouTube Video Embed Styling */
.youtube_container { display: block; margin: 0 auto; width: 100%; max-width: 1500px; }
.youtube_player { display: block; width: 100%; /* assuming that the video has a 16:9 ratio */ padding-bottom: 56.25%; overflow: hidden; position: relative; width: 100%; height: 100%; cursor: hand; cursor: pointer; display: block; }
.youtube_player_high { display: block; width: 100%; /* assuming that the video has a 16:9 ratio */ padding-bottom: 56.25%; overflow: hidden; position: relative; width: 100%; height: 100%; cursor: hand; cursor: pointer; display: block; }
img.youtube-thumb { bottom: 0; display: block; left: 0; margin: auto; max-width: 100%; width: 100%; position: absolute; right: 0; top: 0; height: auto }
div.play-button { height: 72px; width: 72px; left: 50%; top: 50%; margin-left: -36px; margin-top: -36px; position: absolute; background: url("http://i.imgur.com/TxzC70f.png") no-repeat; }
#youtube-iframe { width: 100%; height: 100%; position: absolute; top: 0; left: 0; }

/* END Animations Page Styling */
